@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


.product-list{
    background: linear-gradient(#b8c484,rgba(110, 168, 4, 0.719))#b8c484;
    width: 100%;
    padding: 10px;
    padding-bottom: 10%;
  
}

.product-list .card{
    background-color: #133409 ;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #36562b;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    z-index: 3;
}

.card .p-title{
    font-size:18px;
    font-weight: bold;
    color: aliceblue;

}

.card .p-image{
    border-radius: 5%;
}

.p-image img{
    max-width: 350px;
}

.card .p-text{
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    color: aliceblue;
    font-size: 12px;
}

.card .more{
    font-weight: bold;
    
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}
  
@media screen and (min-width: 1000px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}
  
@media screen and (min-width: 1400px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}